.search {
  border-radius: 3%;
  border-radius: 13px;
  height: 3rem;
  width: 20rem;
}

.searchIcon {
  position: relative;
  left: -18px;
  top: 1rem;
}

form {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
}