.home {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  font-size: 2rem;

  &__text {
    margin: 2rem auto;
    width: 45%;
    text-align: center;
  }

  &__video-cover {
    margin: 0 auto;
    width: 40%;
  }

  &__form {
    margin: 2rem auto;

    &--text {
      font-size: 1.8rem;
      color: $base-red;
      margin-right: 2rem;
    }

    &--dropdown {
      width: $input-width;
      margin: 0 auto;
      margin-right: 2rem;
    }

    &--input {
      margin-right: 2rem;
      width: $input-width;
    }

    &--btn {
      font-size: 1.8rem;
      font-weight: 600;
      margin-right: 2rem;
      text-transform: uppercase;
      color: $base-red;
      background-color: transparent;
      border: none;
    }
  }
}