.home {
  display: flex;
  flex-direction: column;
  margin-left: 20%;

  &__text {
    margin: 2rem auto;
    font-size: 2rem;
    width: 45%;
    text-align: center;
  }

  &__video-cover {
    margin: 0 auto;
    width: 50%;
  }

  &__dropdown--state {
    border-radius: 3%;
    border-radius: 13px;
    margin: 2rem auto;
    height: 3rem;
    width: 20rem;
  }
}