$base-black: #000;
$base-green: #54B11E;
$base-red: #BC2756;
// @use '../App/App.scss' as *;

header {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  border-bottom: solid 6px $base-green;
}

h1 {
  font-family: 'Nova Square', cursive;
  font-size: 3em;
  margin-left: 20%;
  align-self: center;
  width: 42%;
  text-align: center;
}

.logo {
  width: 20%;
}

.search {
  border-radius: 3%;
  border-radius: 13px;
  height: 16px;
}

.searchIcon {
  position: relative;
  left: -26px;
  top: 4px;
}

form {
  position: relative;
  right: -5%;
  margin-top: 1%;
}

footer {
  padding-left: 20%;
  text-align: center;
  border-top: solid $base-black 6px;
}