h1 {
  font-family: 'Nova Square', cursive;
  font-size: 6em;
  margin-left: 20%;
  width: 80%;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}