h1 {
  font-family: 'Nova Square', cursive;
  font-size: 3em;
  margin-left: 20%;
  align-self: center;
  width: 52%;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}